<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <header>
    <form action="/login" method="POST">
      <div>
        <label for="name">Username: </label>
        <input type="text" id="name" name="username"/>
        <input type="submit" value="Enter" />
      </div>
   
  </form>
  </header>

</body>
</html>