<!DOCTYPE html>
<html>
<head>
  <title>Shortened URL</title>
</head>
<body>

  <header>
    <% include ./partials/_header.ejs %>
  </header>


  <div>Shortened URL: <b><%=shortURL%></b></div>

  <form action="/urls/<%= shortURL %>" method="POST">
    <div>
      <label for="name">Full URL:</label>
      <input type="text" id="name" name="name" placeholder="<%= longURL %>" />
    </div>
    <input type="submit" value="Update URL" />
  </form>

  



</body>
</html>

