<!DOCTYPE html>

<html>
<head>
  <title>TinyApp</title>
</head>

<body>

  <header>
    <% include ./partials/_header.ejs %>
  </header>

  <table>
  <tr>
    <th>
      URLs
    </th>
  </tr>

  <% for (let key in urls){ %>
    <tr>
      <td><%= key%> </td>
      <td><%= urls[key]%> </td>
      <form method="POST" action="/urls/<%=key%>/delete"><td><button onclick="">Delete</button></td></form>
    </tr>

  <%}%>

     <tr>
      <td>
        <a href="">Shorten a new URL!</a>
      </td>
    </tr>

  </table>

</body>


</html>