<!DOCTYPE html>
<html>
<head>
  <title>Shortened URL</title>
</head>
<body>

  <header>
    <% include ./partials/_header.ejs %>
  </header>


  <div>Shortened URL: <b><%=shortURL%></b></div>

  <div>Full URL: <b><%=longURL%></b></div>
  
  



</body>
</html>

